.button {
	display: flex;
	align-items: center;
	gap: 8px;

	padding: 8px 24px;
	border-radius: 5px;
	cursor: pointer;

	font-size: 14px;
	font-weight: 300;

	@media (min-width: 768px) {
		font-size: 16px;
	}

	&.light.primary {
		color: #ffffff;
		background-color: #4cae4c;
	}

	&.light.surface {
		background-color: #ffffff;
	}

	&.dark.primary {
		color: #ffffff;
		background-color: #5cb85c;
	}

	&.dark.surface {
		background-color: #2b3844;
	}

	mat-icon {
		width: fit-content;
		height: fit-content;

		font-size: 18px;

		@media (min-width: 768px) {
			font-size: 20px;
		}
	}
}
