<div class="wrapper">
	<div class="form">
		<app-search-text-field placeholder="Search for a country..." (search)="onChangeCountryName($event)" />

		<app-dropdown-button
			placeholder="Filter by region"
			[options]="regions"
			[formatOption]="onFormatRegion"
			(changeOption)="onChangeRegion($event)"
		/>
	</div>

	<div class="list">
		@if (!loading) {
			@for (country of filteredCountries; track $index) {
				<app-country-card
					routerLink="country"
					[card]="mapCountryToCardInput(country)"
					(click)="onNavigateToCountry(country)"
				/>
			} @empty {
				<p>Countries not found!</p>
			}
		} @else {
			<p>Loading...</p>
		}
	</div>
</div>
