<div class="wrapper">
	<div class="form">
		<app-search-text-field placeholder="Search for a country..." (search)="onSearchCountryByName($event)" />

		<app-dropdown-button
			placeholder="Filter by region"
			[options]="regions"
			[formatOption]="onFormatRegion"
			(changeOption)="onChangeRegion($event)"
		/>
	</div>

	<div class="content">
		@if (loading) {
			<app-loading />
		} @else {
			<div class="list">
				@for (country of filteredCountries; track $index) {
					<app-country-card
						[routerLink]="['country', country.ccn3]"
						[card]="mapCountryToCardInput(country)"
					/>
				} @empty {
					<p>Countries not found!</p>
				}
			</div>
		}
	</div>
</div>
